In [1]:
#https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
# https://archive.ics.uci.edu/static/public/10/data.csv

In [2]:
import pandas as pd
columns =[
    "symboling","normlaized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels","engine-location","wheel-base",
    "length","width","height","curb-weight","engine-type","num-of-cylinders","engine-size","fuel-syetem","bore","stroke","compression-ratio","horeaepower",
    "peak-rpm","city-mpg","price"
]
#load.url
url="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df=pd.read_csv(url,names=columns,na_values="?",sep=",",skipinitialspace=True,engine="python")
print(df.head())
df.to_csv("auot_moblie.csv")

   symboling normlaized-losses make fuel-type aspiration num-of-doors  \
3        NaN       alfa-romero  gas       std        two  convertible
3        NaN       alfa-romero  gas       std        two  convertible
1        NaN       alfa-romero  gas       std        two    hatchback
2      164.0              audi  gas       std       four        sedan
2      164.0              audi  gas       std       four        sedan

  body-style drive-wheels  engine-location  wheel-base  ...  num-of-cylinders  \
3        rwd        front             88.6       168.8  ...               130
3        rwd        front             88.6       168.8  ...               130
1        rwd        front             94.5       171.2  ...               152
2        fwd        front             99.8       176.6  ...               109
2        4wd        front             99.4       176.6  ...               136

   engine-size  fuel-syetem  bore stroke  compression-ratio horeaepower  \
3         mpfi         3.47  2.68    9.0              111.0      5000.0
3         mpfi         3.47  2.68    9.0              111.0      5000.0
1         mpfi         2.68  3.47    9.0              154.0      5000.0
2         mpfi         3.19  3.40   10.0              102.0      5500.0
2         mpfi         3.19  3.40    8.0              115.0      5500.0

   peak-rpm  city-mpg    price
3        21        27  13495.0
3        21        27  16500.0
1        19        26  16500.0
2        24        30  13950.0
2        18        22  17450.0

[5 rows x 25 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 3 to -1
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          164 non-null    float64
 1   normlaized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         203 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    float64
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    int64
 13  curb-weight        205 non-null    object
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    object
 17  fuel-syetem        201 non-null    float64
 18  bore               201 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  203 non-null    float64
 21  horeaepower        203 non-null    float64
 22  peak-rpm           205 non-null    int64
 23  city-mpg           205 non-null    int64
 24  price              201 non-null    float64
dtypes: float64(11), int64(4), object(10)
memory usage: 41.6+ KB

In [4]:
df.describe()

,symboling,engine-location,wheel-base,length,width,height,num-of-cylinders,fuel-syetem,bore,stroke,compression-ratio,horeaepower,peak-rpm,city-mpg,price
count,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,201.000000,205.000000,203.000000,203.000000,205.000000,205.000000,201.000000
mean,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,35.442168,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.273539,0.316717,3.972040,39.714369,479.334560,6.542142,6.886443,7947.066342
min,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,94.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,150.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [5]:
df.isna().sum()

symboling            41
normlaized-losses     0
make                  0
fuel-type             0
aspiration            2
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-syetem           4
bore                  4
stroke                0
compression-ratio     2
horeaepower           2
peak-rpm              0
city-mpg              0
price                 4
dtype: int64

In [6]:
df.shape

(205, 25)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 3 to -1
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          164 non-null    float64
 1   normlaized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         203 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    float64
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    int64
 13  curb-weight        205 non-null    object
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    object
 17  fuel-syetem        201 non-null    float64
 18  bore               201 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  203 non-null    float64
 21  horeaepower        203 non-null    float64
 22  peak-rpm           205 non-null    int64
 23  city-mpg           205 non-null    int64
 24  price              201 non-null    float64
dtypes: float64(11), int64(4), object(10)
memory usage: 41.6+ KB

In [8]:
data_uniques= [ 'make','fuel-type','aspiration','num-of-doors','bore','body-style','drive-wheels','engine-location','num-of-cylinders','fuel-syetem']
for col in data_uniques:
    print(f'{col}:{df[col].unique()}')

make:['gas' 'diesel']
fuel-type:['std' 'turbo']
aspiration:['two' 'four' nan]
num-of-doors:['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
bore:[2.68 3.47 3.4  2.8  3.19 3.39 3.03 3.11 3.23 3.46 3.9  3.41 3.07 3.58
 4.17 2.76 3.15  nan 3.16 3.64 3.1  3.35 3.12 3.86 3.29 3.27 3.52 2.19
 3.21 2.9  2.07 2.36 2.64 3.08 3.5  3.54 2.87]
body-style:['rwd' 'fwd' '4wd']
drive-wheels:['front' 'rear']
engine-location:[ 88.6  94.5  99.8  99.4 105.8  99.5 101.2 103.5 110.   88.4  93.7 103.3
  95.9  86.6  96.5  94.3  96.  113.  102.   93.1  95.3  98.8 104.9 106.7
 115.6  96.6 120.9 112.  102.7  93.   96.3  95.1  97.2 100.4  91.3  99.2
 107.9 114.2 108.   89.5  98.4  96.1  99.1  93.3  97.   96.9  95.7 102.4
 102.9 104.5  97.3 104.3 109.1]
num-of-cylinders:[130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
fuel-syetem:[3.47 2.68 3.19 3.13 3.5  3.31 3.62 2.91 3.03 2.97 3.34 3.6  2.92 3.15
 3.43 3.63 3.54 3.08  nan 3.39 3.76 3.58 3.46 3.8  3.78 3.17 3.35 3.59
 2.99 3.33 3.7  3.61 3.94 3.74 2.54 3.05 3.27 3.24 3.01]

In [9]:
df.isna().sum()

symboling            41
normlaized-losses     0
make                  0
fuel-type             0
aspiration            2
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-syetem           4
bore                  4
stroke                0
compression-ratio     2
horeaepower           2
peak-rpm              0
city-mpg              0
price                 4
dtype: int64

In [10]:
#handilig missing values
mean_suel_system=df['fuel-syetem'].mean()
df['fuel-syetem'].fillna(mean_suel_system,inplace=True)
print(df['fuel-syetem'].head())

3    3.47
3    3.47
1    2.68
2    3.19
2    3.19
Name: fuel-syetem, dtype: float64

C:\Users\tisha zala\AppData\Local\Temp\ipykernel_13360\348155862.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fuel-syetem'].fillna(mean_suel_system,inplace=True)

In [11]:
#handilig missing values
bore_mean=df['bore'].mean()
df['bore'].fillna(bore_mean,inplace=True)
print(df['bore'].head())

3    2.68
3    2.68
1    3.47
2    3.40
2    3.40
Name: bore, dtype: float64

C:\Users\tisha zala\AppData\Local\Temp\ipykernel_13360\795933325.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bore'].fillna(bore_mean,inplace=True)

In [12]:
compressionratio_mean=df['compression-ratio'].mean()
df['compression-ratio'].fillna(compressionratio_mean,inplace=True)
print(df['compression-ratio'].head())

3    111.0
3    111.0
1    154.0
2    102.0
2    115.0
Name: compression-ratio, dtype: float64

C:\Users\tisha zala\AppData\Local\Temp\ipykernel_13360\1303424738.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['compression-ratio'].fillna(compressionratio_mean,inplace=True)

In [13]:
horeaepower_mean=df['horeaepower'].mean()
df['horeaepower'].fillna(horeaepower_mean,inplace=True)
print(df['horeaepower'].head())

3    5000.0
3    5000.0
1    5000.0
2    5500.0
2    5500.0
Name: horeaepower, dtype: float64

C:\Users\tisha zala\AppData\Local\Temp\ipykernel_13360\928533944.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horeaepower'].fillna(horeaepower_mean,inplace=True)

In [14]:
price_mean=df['price'].mean()
df['price'].fillna(price_mean,inplace=True)
print(df['price'].head())

3    13495.0
3    16500.0
1    16500.0
2    13950.0
2    17450.0
Name: price, dtype: float64

C:\Users\tisha zala\AppData\Local\Temp\ipykernel_13360\1092628045.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(price_mean,inplace=True)

In [15]:
symboling_mean=df['symboling'].mean()
df['symboling'].fillna(symboling_mean,inplace=True)
print(df['symboling'].head())

3    122.0
3    122.0
1    122.0
2    164.0
2    164.0
Name: symboling, dtype: float64

C:\Users\tisha zala\AppData\Local\Temp\ipykernel_13360\3176247490.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['symboling'].fillna(symboling_mean,inplace=True)

In [16]:
df.isnull().sum()

symboling            0
normlaized-losses    0
make                 0
fuel-type            0
aspiration           2
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-syetem          0
bore                 0
stroke               0
compression-ratio    0
horeaepower          0
peak-rpm             0
city-mpg             0
price                0
dtype: int64

In [17]:
aspiration_mode=df['aspiration'].mode()[0]
df['aspiration'].fillna(aspiration_mode,inplace=True)
print(df['aspiration'].head())

3     two
3     two
1     two
2    four
2    four
Name: aspiration, dtype: object

C:\Users\tisha zala\AppData\Local\Temp\ipykernel_13360\1709953327.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['aspiration'].fillna(aspiration_mode,inplace=True)

In [18]:
df.to_csv("auot_moblie.csv")

In [19]:
#outline detecton and headnling
#IQR methods -z-score
df.describe()

,symboling,engine-location,wheel-base,length,width,height,num-of-cylinders,fuel-syetem,bore,stroke,compression-ratio,horeaepower,peak-rpm,city-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,31.681008,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.519211,476.979093,6.542142,6.886443,7868.768212
min,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,101.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,137.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [20]:
#IRO #frist methods
q1=df['horeaepower'].quantile(0.25) #25%
q3=df['horeaepower'].quantile(0.75) #75%
iqr=q3-q1
lower =q1-1.5 *iqr
upper =q3 + 1.5 *iqr
outlers =df[(df['horeaepower'] <lower) | (df['horeaepower']>upper)]
print(outlers[['make','horeaepower']])
print(lower)
print(upper)
print(iqr)

  make  horeaepower
1  gas       6600.0
1  gas       6600.0
3750.0
6550.0
700.0

In [21]:
#z-score method
%pip install scipy

Requirement already satisfied: scipy in c:\users\tisha zala\anaconda3\lib\site-packages (1.15.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\tisha zala\anaconda3\lib\site-packages (from scipy) (2.1.3)

In [22]:
#seond methods
from  scipy import  stats
import numpy as np
df['zscore']=stats.zscore(df['horeaepower'])
z_outliers =df[np.abs(df['zscore']) >3]
print(z_outliers[['make','horeaepower']])

  make  horeaepower
1  gas       6600.0
1  gas       6600.0

In [23]:
df.tail()

,symboling,normlaized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-syetem,bore,stroke,compression-ratio,horeaepower,peak-rpm,city-mpg,price,zscore
-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0,0.577180
-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0,0.367014
-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0,0.787346
-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0,-0.683816
-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0,0.577180

In [24]:
# Encoding cattegorical data(lable encoding one -hot)
df_onehot =pd.get_dummies(df,columns=['drive-wheels'],prefix ='drive')#prifx naam rakhne ke liye hai
df_onehot.head()

,symboling,normlaized-losses,make,fuel-type,aspiration,num-of-doors,body-style,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horeaepower,peak-rpm,city-mpg,price,zscore,drive_front,drive_rear
3,122.0,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,64.1,...,2.68,9.0,111.0,5000.0,21,27,13495.0,-0.263484,True,False
3,122.0,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,64.1,...,2.68,9.0,111.0,5000.0,21,27,16500.0,-0.263484,True,False
1,122.0,alfa-romero,gas,std,two,hatchback,rwd,94.5,171.2,65.5,...,3.47,9.0,154.0,5000.0,19,26,16500.0,-0.263484,True,False
2,164.0,audi,gas,std,four,sedan,fwd,99.8,176.6,66.2,...,3.40,10.0,102.0,5500.0,24,30,13950.0,0.787346,True,False
2,164.0,audi,gas,std,four,sedan,4wd,99.4,176.6,66.4,...,3.40,8.0,115.0,5500.0,18,22,17450.0,0.787346,True,False

In [25]:
# step2 lable (for ordinal has order) manual  #tow ko number convert kiya
cyl_map ={'four ':4,'five':5,'two':2}
df['aspiration_encoded'] =df['aspiration'].map(cyl_map)
print(df[['aspiration','aspiration_encoded']])

   aspiration  aspiration_encoded
 3        two                 2.0
 3        two                 2.0
 1        two                 2.0
 2       four                 NaN
 2       four                 NaN
..        ...                 ...
-1       four                 NaN
-1       four                 NaN
-1       four                 NaN
-1       four                 NaN
-1       four                 NaN

[205 rows x 2 columns]

In [26]:
#data 3 data scalling & normalization (min-max,standarziation)
#min-max scalling
df['wheel-base-minmax']=(df['wheel-base']	-df['wheel-base'].min())/(df['wheel-base'].max() -df['wheel-base'].min())
print(df[['wheel-base','wheel-base-minmax']].head())

   wheel-base  wheel-base-minmax
3       168.8           0.413433
3       168.8           0.413433
1       171.2           0.449254
2       176.6           0.529851
2       176.6           0.529851

In [27]:
#stndardzation (mean=0,std=1) for wheel -base
df['wheel-base-std']=(df['wheel-base']	-df['wheel-base'].mean())/(df['wheel-base'].std())
print(df['wheel-base-std'])

 3   -0.425480
 3   -0.425480
 1   -0.230948
 2    0.206750
 2    0.206750
        ...
-1    1.195622
-1    1.195622
-1    1.195622
-1    1.195622
-1    1.195622
Name: wheel-base-std, Length: 205, dtype: float64

In [28]:
#horespower minmax
df['horeaepower-minmax']=(df['horeaepower']	-df['horeaepower'].min())/(df['horeaepower'].max() -df['horeaepower'].min())
print(df[['horeaepower','horeaepower-minmax']].head())

   horeaepower  horeaepower-minmax
3       5000.0            0.346939
3       5000.0            0.346939
1       5000.0            0.346939
2       5500.0            0.551020
2       5500.0            0.551020

In [29]:
#std horespower
df['horeaepower-std']=(df['horeaepower']-df['horeaepower'].mean())/(df['horeaepower'].std())
print(df['horeaepower-std'])

 3   -0.262841
 3   -0.262841
 1   -0.262841
 2    0.785423
 2    0.785423
        ...
-1    0.575771
-1    0.366118
-1    0.785423
-1   -0.682146
-1    0.575771
Name: horeaepower-std, Length: 205, dtype: float64

In [30]:
#feature Enginnering & feature selection
#sstep-1 feature selection (coreelation)
corr_matrix=df.corr(numeric_only=True)
print(corr_matrix['price'].sort_values(ascending=False))
#step -2

price                 1.000000
num-of-cylinders      0.861752
height                0.820825
compression-ratio     0.757917
length                0.728699
wheel-base            0.682986
wheel-base-minmax     0.682986
wheel-base-std        0.682986
engine-location       0.583168
fuel-syetem           0.532300
width                 0.134388
symboling             0.133999
bore                  0.082095
stroke                0.070990
horeaepower-minmax   -0.100854
horeaepower-std      -0.100854
zscore               -0.100854
horeaepower          -0.100854
peak-rpm             -0.667449
city-mpg             -0.690526
aspiration_encoded         NaN
Name: price, dtype: float64

In [31]:
df.columns

Index(['symboling', 'normlaized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-syetem', 'bore', 'stroke',
       'compression-ratio', 'horeaepower', 'peak-rpm', 'city-mpg', 'price',
       'zscore', 'aspiration_encoded', 'wheel-base-minmax', 'wheel-base-std',
       'horeaepower-minmax', 'horeaepower-std'],
      dtype='object')

In [32]:
#manual seature selection
features=['engine-size','curb-weight','horeaepower','width','length','wheel-base']
x=df[features]
y=df['price']
#print(x.head())


print(y.head())

3    13495.0
3    16500.0
1    16500.0
2    13950.0
2    17450.0
Name: price, dtype: float64

In [33]:
#addd new fearutre -power to weight ratio
df['avg-mpg']=(df['city-mpg']+df['peak-rpm'])/2
print(df['avg-mpg'].head())

3    24.0
3    24.0
1    22.5
2    27.0
2    20.0
Name: avg-mpg, dtype: float64

In [34]:
# handling imbalance data (Smote,undersampling,oversampling)
mean_price = df['price'].mean()
df['high_price'] = np.where(df['price'] > mean_price, 1, 0)
print(df['high_price'].value_counts().head())

high_price
0    131
1     74
Name: count, dtype: int64

In [35]:
#undersampling (reduce majority class)
majority =df[df['high_price']==0]
minority =df[df['high_price']==1]
majority_under =majority.sample(len(minority))
df_under =pd.concat([majority_under,minority],axis =0)
print(df_under['high_price'].value_counts())

high_price
0    74
1    74
Name: count, dtype: int64